<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codev.capturalo">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.codev.capturalo.presentation.search.CameraActivity">
        </activity>
        <activity android:name="com.codev.capturalo.presentation.login.SplashActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name="com.codev.capturalo.presentation.login.LoginActivity"/>
        <activity android:name="com.codev.capturalo.presentation.main.PrincipalActivity"/>
        <activity android:name="com.codev.capturalo.presentation.search.SearchActivity"/>
        <activity android:name="com.codev.capturalo.presentation.search.camera.NewShowCameraActivity"/>
        <activity android:name="com.codev.capturalo.presentation.search.camera.PreviewActivity"/>
        <activity android:name="com.codev.capturalo.presentation.search.camera.ShowCameraActivity"/>
        <activity android:name="com.codev.capturalo.presentation.products.ProductsActivity"/>
        <activity android:name="com.codev.capturalo.presentation.register.RegisterActivity"/>
        <activity android:name="com.codev.capturalo.presentation.store.StoreActivity"/>
        <activity android:name="com.codev.capturalo.presentation.store.BuyActivity"/>
    </application>

</manifest>